
 .nav-link1{
     color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
} 
.nav-link1:hover{
color: #fff;
text-decoration: underline;
} 

.navbar-nav{
    display: flex;
    width: 20%;
    justify-content: space-around;
    margin-left: auto;
    letter-spacing: 1px;
}
@media (max-width:600px) {
    .navbar-nav{
        margin: 0;
    }
}
.navbar-toggler{
    padding: 0rem;
}
.brand{
    height: 36px;
    width: 45px;
}

/* Sales ***********************/


.sales{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    font-weight: 600;
}
.photo1{
height: 40%;
}
.box1{
    display: flex;
    justify-content: space-around;
}
.scroll{
    background-color: #000;
}
#sale3{
   background-image: url('images/s16.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
.offer{
    font-size: 5rem;
font-family: fantasy;
color: #fff;
}

.carSliding{
    width:47%;
    margin: auto;
}
.carimg{
    height: 700px;
    width: 100%;
}
.color{
    color: #000;
}
.innerHeight{
    height: 700px;
    width: 100%;
    margin: auto;
}
.black{
    color: #000 !important;
}